.optionImg{
    width: 50%;
    text-align: center;
    overflow-y: hidden;
    border-radius: 10%;
}

.question{
    width: 50%;
}

.greyOut {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}

.answerZone{
    border: 3px black solid;
    border-radius: 5%;
}

.answerButton{
    border: 2px black solid;
    border-radius: 5%;
}
